<section class="contact-form">
    <form [formGroup]="contactForm" (submit)="onSubmit()">
        <fieldset class="input-field-container">
            <label for="">Name</label>
            <div class="input-field">
                <span class="material-symbols-outlined">account_circle</span>
                <input type="text" placeholder="Ex. Juan Dela Cruz" formControlName="_username" required>
            </div>
            <div *ngIf="contactForm.controls._username.touched && contactForm.controls._username.invalid" id="regex">
                <p *ngIf="contactForm.controls._username.errors?.['required']">*Name is required</p>
            </div>
        </fieldset>
        <fieldset class="email-field-container">
            <label for="">Email</label>
            <div class="email-field">
                <span class="material-symbols-outlined">attach_email</span>
                <input type="text" placeholder="Ex. JuanDelaCruz@email.com" formControlName="_email" required>
            </div>
            <div *ngIf="contactForm.controls._email.touched && contactForm.controls._email.invalid" id="regex">
                <p *ngIf="contactForm.controls._email.errors?.['required']">*Email is required</p>
                <p *ngIf="contactForm.controls._email.errors?.['pattern']">*Invalid email format</p>
            </div>
        </fieldset>
        <div class="divider">
            <fieldset class="subject-field-container">
                <label for="">Subject</label>
                <div class="subject-field">
                    <span class="material-symbols-outlined">subject</span>
                    <select formControlName="_subject">
                        <option value="default" disabled selected hidden>Select a subject</option>
                        <option value="inquiry">General Inquiry</option>
                        <option value="hire">Hiring / Job Opportunity</option>
                        <option value="freelance">Freelance Project</option>
                        <option value="support">Support / Question</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="phone-field-container">
                <label for="">Phone</label>
                <div class="phone-field">
                    <span class="material-symbols-outlined">contact_phone</span>
                    <input type="tel" maxlength="11" placeholder="EX. 09163254696" formControlName="_contact" required>
                </div>
                <div *ngIf="contactForm.controls._contact.touched && contactForm.controls._contact.invalid" id="regex">
                    <p *ngIf="contactForm.controls._contact.errors?.['required']">*Phone is required</p>
                    <p *ngIf="contactForm.controls._contact.errors?.['pattern']">*Invalid phone format</p>
                </div>
            </fieldset>
        </div>
        <fieldset class="message-field-container">
            <label for="">Message</label>
            <div class="message-field">
                <textarea placeholder="Your message here..." formControlName="_message" required></textarea>
            </div>
            <div *ngIf="contactForm.controls._message.touched && contactForm.controls._message.invalid" id="regex">
                <p *ngIf="contactForm.controls._message.errors?.['required']">*This field is required</p>
            </div>
        </fieldset>
        <div class="submit-bttn">
            <button class="bttn" type="submit" [disabled]="!contactForm.touched">
                <img [src]="contactForm.touched
                            ? '/assets/pngs/cntct-img4.png'
                            : '/assets/pngs/cntct-img5.png'" alt="Submit Button" id="submit" draggable="false" />
            </button>
        </div>
    </form>
</section>